header{
    background-color: aquamarine;
    height: 100px;
}


body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
}

.navbarList {
    display: flex;
    justify-content: space-evenly;
    background: darkslategray;
    box-shadow: 0px 0px 3px;
    padding: 10px;
}

.navbarItem {
    list-style: none;
    margin-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbarItem a {
    color: mintcream;
    text-decoration: none;
}

.navbarItem a:hover{
    color: black;

}

.titleGraphic {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sectionThree {
    background-color: slategray;
    height: 100px;
}

footer {
    background-color: darkslategrey;
    height: 50px;
}

