header{
    background-color: lightgrey;
    height: 0px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategrey;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mintcream;
    font-size: 60px;
    text-align: center;
}

.navbarList {
    display: flex;
    justify-content: space-evenly;
    background: darkslategray;
    box-shadow: 0px 0px 3px;
    padding: 10px;
}

.navbarItem {
    list-style: none;
    margin-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbarItem a {
    color: mintcream;
    text-decoration: none;
}

.navbarItem a:hover{
    color: black;

}

.titleGraphic {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.section-one {
    display: flex;
    background-image: url("https://placedog.net/");
    background-color: lightgrey;
}

.section-two {
    background-color: darkslategrey;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mintcream;
    padding: 20px;
}
.section-two-text {
    display: flex;    
}

footer {
    background-color: darkslategrey;
    height: 50px;
}


/* Carp */

